html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

b, strong {
    font-weight: bold;
}

i {
    font-style: italic;
}

* {
    box-sizing: border-box;
}

aside h3 {
    border-bottom: 0;
}

.clear {
    clear: both;
}

/* general */

.dropdown-menu > li > a {
    text-align: left;
}
.dropdown-menu > li > a:hover {
    color: #000;
    background: rgba(0, 0, 0, 0.1);
}
.form-control {
    background: #fff;
    border-color: rgba(0, 0, 0, 0.35);
    color: #263039;
    box-shadow: none;
}
.form-control:-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-style: italic;
    font-size: 15px;
    font-weight: 600;
}
.form-control::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-style: italic;
    font-size: 15px;
    font-weight: 600;
}
.form-control:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-style: italic;
    font-size: 15px;
    font-weight: 600;
}
.form-control::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-style: italic;
    font-size: 15px;
    font-weight: 600;
}
.form-control:focus {
    border-color: #93c762;
    -webkit-box-shadow: 0px 0px 6px -1px #93c762;
    box-shadow: 0px 0px 6px -1px #93c762;
}
.btn {
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
    color: #87909D;
    padding: 3px 25px;
    -webkit-transition: all linear .1s;
    -moz-transition: all linear .1s;
    -o-transition: all linear .1s;
    transition: all linear .1s;
}
.btn-white {
    background: #fff;
    color: #8B94A1;
}
.btn-gray {
    background: #eeeeee;
}
.btn-gray:hover {
    background: #e2e2e2;
}
.btn-green {
    background: #92B751;
    color: #fff;
}
.gray-block {
    background: url(../../images/bg.jpg) repeat;
}

/* layout */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: normal;
    color: #6E7277;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h3 {
    color: #263039;
}
a {
	color: #428bca;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -ms-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear;
}
a:hover {
    text-decoration: none;
}
form {
    margin: 0;
}
.navbar-inverse {
    background: #222;
    text-align: center;
}
.navbar-inverse .navbar-toggle {
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.navbar-inverse .navbar-toggle:hover {
    background: #92b751;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-collapse {
        max-height: 655px;
    }
}
.navbar-inverse .navbar-nav {
    float: none;
    display: inline-block;
}
.navbar-inverse .navbar-nav > li {
    float: none;
    display: inline-block;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav > li {
        width: 100%;
        text-align: left;
    }
}
.navbar-inverse .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    padding: 18px 15px;
    font-size: 13px;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -ms-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear;
}
@media (min-width: 992px) and (max-width: 1200px) {
    .navbar-inverse .navbar-nav > li > a {
        padding: 18px 8px;
    }
}
@media (max-width: 991px) {
    .navbar-inverse .navbar-nav > li > a {
        padding: 18px 4px;
        font-size: 13px;
        text-transform: initial;
    }
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav > li > a {
        padding: 13px 20px;
    }
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
}
.navbar-inverse .navbar-nav > li.sign-btn {
    background: #1d232b;
}
@media (min-width: 992px) {
    .navbar-inverse .navbar-nav > li.sign-btn {
        position: relative;
        left: 50px;
    }
}
.navbar-inverse .navbar-nav > li.sign-btn:hover {
    background: #000;
}
.navbar-inverse .navbar-nav > li.sign-btn:hover a {
    color: #fff;
}
.navbar-inverse .navbar-nav > li.sign-btn a {
    text-transform: none;
    color: rgba(255, 255, 255, 0.8);
}
@media (min-width: 979px) and (max-width: 1200px) {
    .navbar-inverse .navbar-nav > li.sign-btn a {
        padding: 18px 7px;
    }
}
.navbar-fixed-top.scroll {
    opacity: 0.96;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.9);
}
.block,
.inner-block {
    padding: 80px 0;
}
.block header,
.inner-block header {
    text-align: center;
    color: #6D7176;
    margin-bottom: 48px;
}
.block header h2,
.inner-block header h2 {
    font-size: 44px;
    margin-bottom: 0;
    font-weight: 200;
}
.block header p,
.inner-block header p {
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: 2px;
}
.block header .line,
.inner-block header .line {
    border-top: 1px solid #b8babe;
    width: 148px;
    display: block;
    box-shadow: 0px 1px 0px 0px white;
    margin: 10px auto 0;
}
.block:last-child {
    padding-bottom: 160px;
}
.inner-block {
    padding: 30px 0;
}
.inner-block:last-child {
    padding-bottom: 150px;
}
.inner-block:first-child {
    padding-top: 0px;
}
footer {
    padding: 25px 0;
    background: #222;
}
footer ul {
    margin-top: 20px;
    padding-left: 0px;
}
footer ul li {
    list-style: none;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
}
footer ul li a {
    color: #fff;
}
footer ul li a:hover {
    color: #8fc25d;
    text-decoration: none;
}
footer ul .phone {
    margin-top: 17px;
}
footer h2 {
    color: #fff;
    margin: 7px 0 20px 17px;
    font-size: 24px;
}
@media (max-width: 767px) {
    footer h2 {
        margin-left: 0;
    }
}
footer .form-control {
    background: #1B1F25;
    border-color: #2F3743;
    color: #fff;
    box-shadow: none;
}
footer .form-control:focus {
    border-color: #40542C;
    -webkit-box-shadow: 0 0 8px rgba(143, 194, 93, 0.4);
    box-shadow: 0 0 5px rgba(143, 194, 93, 0.4);
}
footer .form-control:-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-style: italic;
    font-weight: 400;
}
footer .form-control::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-style: italic;
    font-weight: 400;
}
footer .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-style: italic;
    font-weight: 400;
}
footer .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-style: italic;
    font-weight: 400;
}
footer .btn {
    text-transform: uppercase;
    background: #4E535A;
    float: right;
    font-size: 15px;
    padding: 2px 22px;
    margin-right: 12px;
    color: rgba(255, 255, 255, 0.8);
}
footer .btn:hover {
    background: #8fc25d;
    color: #fff;
}
footer .row p {
    margin-top: 5px;
    color: #AAA;
    font-size: 14px;
    text-align: center;
}

/* custom */

.btn {
    border-radius: 8px;
    font-weight: 600;
    font-size: 26px;
    color: #fff;
    padding: 3px 25px;
    -webkit-transition: all linear .1s;
    -moz-transition: all linear .1s;
    -o-transition: all linear .1s;
    transition: all linear .1s;
}
#comingsoon .countdown {
    padding-bottom: 120px;
    border-bottom: none;
    box-shadow: 0px 2px 1px 0px white;
}
/*
Payment form page
 */

img.goldseal,
img.blueshield {
    height: 33px !important;
    width: 33px !important;
    max-width: none !important;
    margin-top: 12px;
}
.step-content #account-creation input[type=text],
.step-content #account-creation input[type=password],
.step-content #subscription-form input[type=text] {
    width: 100%;
    height: 30px;
}
.step-content #account-creation input[type=text]:-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-style: normal;
    font-size: 15px;
    font-weight: normal;
}
.step-content #account-creation input[type=text]::-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-style: normal;
    font-size: 15px;
    font-weight: normal;
}
.step-content #account-creation input[type=text]:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-style: normal;
    font-size: 15px;
    font-weight: normal;
}
.step-content #account-creation input[type=text]::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-style: normal;
    font-size: 15px;
    font-weight: normal;
}
.step-content #subscription-form input[type=text]:-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-style: normal;
    font-size: 15px;
    font-weight: normal;
}
.step-content #subscription-form input[type=text]::-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-style: normal;
    font-size: 15px;
    font-weight: normal;
}
.step-content #subscription-form input[type=text]:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-style: normal;
    font-size: 15px;
    font-weight: normal;
}
.step-content #subscription-form input[type=text]::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-style: normal;
    font-size: 15px;
    font-weight: normal;
}
/* Password fields */

.step-content #account-creation input[type=password]:-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-style: normal;
    font-size: 15px;
    font-weight: normal;
}
.step-content #account-creation input[type=password]::-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-style: normal;
    font-size: 15px;
    font-weight: normal;
}
.step-content #account-creation input[type=password]:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-style: normal;
    font-size: 15px;
    font-weight: normal;
}
.step-content #account-creation input[type=password]::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-style: normal;
    font-size: 15px;
    font-weight: normal;
}
/* Wizard button */

.wizard-button {
    padding: 12px !important;
    font-size: 20px !important;
}

/* FuelUX */

.fuelux h1,
.fuelux h2,
.fuelux h3,
.fuelux h4,
.fuelux h5,
.fuelux h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility
}
.fuelux h1 small,
.fuelux h2 small,
.fuelux h3 small,
.fuelux h4 small,
.fuelux h5 small,
.fuelux h6 small {
    font-weight: normal;
    line-height: 1;
    color: #999
}
.fuelux h1,
.fuelux h2,
.fuelux h3 {
    line-height: 40px
}
.fuelux h1 {
    font-size: 38.5px
}
.fuelux h2 {
    font-size: 31.5px
}
.fuelux h3 {
    font-size: 24.5px
}
.fuelux h4 {
    font-size: 17.5px
}
.fuelux h5 {
    font-size: 14px
}
.fuelux h6 {
    font-size: 11.9px
}
.fuelux h1 small {
    font-size: 24.5px
}
.fuelux h2 small {
    font-size: 17.5px
}
.fuelux h3 small {
    font-size: 14px
}
.fuelux h4 small {
    font-size: 14px
}

.fuelux .clearfix {
    *zoom: 1
}
.fuelux .clearfix:before,
.fuelux .clearfix:after {
    display: table;
    line-height: 0;
    content: ""
}
.fuelux .clearfix:after {
    clear: both
}

.fuelux button,
.fuelux input,
.fuelux select,
.fuelux textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle
}
.fuelux button,
.fuelux input {
    *overflow: visible;
    line-height: normal
}
.fuelux button::-moz-focus-inner,
.fuelux input::-moz-focus-inner {
    padding: 0;
    border: 0
}
.fuelux button,
.fuelux html input[type="button"],
.fuelux input[type="reset"],
.fuelux input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button
}
.fuelux label,
.fuelux select,
.fuelux button,
.fuelux input[type="button"],
.fuelux input[type="reset"],
.fuelux input[type="submit"],
.fuelux input[type="radio"],
.fuelux input[type="checkbox"] {
    cursor: pointer
}
.fuelux input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield
}
.fuelux input[type="search"]::-webkit-search-decoration,
.fuelux input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none
}
.fuelux textarea {
    overflow: auto;
    vertical-align: top
}

.fuelux form {
    margin: 0 0 15px
}
.fuelux fieldset {
    padding: 0;
    margin: 0;
    border: 0
}
.fuelux legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5
}
.fuelux legend small {
    font-size: 15px;
    color: #999
}
.fuelux label,
.fuelux input,
.fuelux button,
.fuelux select,
.fuelux textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px
}
.fuelux input,
.fuelux button,
.fuelux select,
.fuelux textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}
.fuelux label {
    display: block;
    margin-bottom: 5px
}
.fuelux select,
.fuelux textarea,
.fuelux input[type="text"],
.fuelux input[type="password"],
.fuelux input[type="datetime"],
.fuelux input[type="datetime-local"],
.fuelux input[type="date"],
.fuelux input[type="month"],
.fuelux input[type="time"],
.fuelux input[type="week"],
.fuelux input[type="number"],
.fuelux input[type="email"],
.fuelux input[type="url"],
.fuelux input[type="search"],
.fuelux input[type="tel"],
.fuelux input[type="color"],
.fuelux .uneditable-input {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}
.fuelux input,
.fuelux textarea,
.fuelux .uneditable-input {
    width: 206px
}
.fuelux textarea {
    height: auto
}
.fuelux textarea,
.fuelux input[type="text"],
.fuelux input[type="password"],
.fuelux input[type="datetime"],
.fuelux input[type="datetime-local"],
.fuelux input[type="date"],
.fuelux input[type="month"],
.fuelux input[type="time"],
.fuelux input[type="week"],
.fuelux input[type="number"],
.fuelux input[type="email"],
.fuelux input[type="url"],
.fuelux input[type="search"],
.fuelux input[type="tel"],
.fuelux input[type="color"],
.fuelux .uneditable-input {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s
}
.fuelux textarea:focus,
.fuelux input[type="text"]:focus,
.fuelux input[type="password"]:focus,
.fuelux input[type="datetime"]:focus,
.fuelux input[type="datetime-local"]:focus,
.fuelux input[type="date"]:focus,
.fuelux input[type="month"]:focus,
.fuelux input[type="time"]:focus,
.fuelux input[type="week"]:focus,
.fuelux input[type="number"]:focus,
.fuelux input[type="email"]:focus,
.fuelux input[type="url"]:focus,
.fuelux input[type="search"]:focus,
.fuelux input[type="tel"]:focus,
.fuelux input[type="color"]:focus,
.fuelux .uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6)
}
.fuelux input[type="radio"],
.fuelux input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    *margin-top: 0;
    line-height: normal
}
.fuelux input[type="file"],
.fuelux input[type="image"],
.fuelux button[type="submit"],
.fuelux input[type="submit"],
.fuelux input[type="reset"],
.fuelux input[type="button"],
.fuelux input[type="radio"],
.fuelux input[type="checkbox"] {
    width: auto
}
.fuelux select,
.fuelux input[type="file"] {
    height: 30px;
    *margin-top: 4px;
    line-height: 30px
}
.fuelux select {
    width: 220px;
    background-color: #fff;
    border: 1px solid #ccc
}
.fuelux select[multiple],
.fuelux select[size] {
    height: auto
}
.fuelux select:focus,
.fuelux input[type="file"]:focus,
.fuelux input[type="radio"]:focus,
.fuelux input[type="checkbox"]:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.fuelux .uneditable-input,
.fuelux .uneditable-textarea {
    color: #999;
    cursor: not-allowed;
    background-color: #fcfcfc;
    border-color: #ccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025)
}
.fuelux .uneditable-input {
    overflow: hidden;
    white-space: nowrap
}
.fuelux .uneditable-textarea {
    width: auto;
    height: auto
}
.fuelux input:-moz-placeholder,
.fuelux textarea:-moz-placeholder {
    color: #999
}
.fuelux input:-ms-input-placeholder,
.fuelux textarea:-ms-input-placeholder {
    color: #999
}
.fuelux input::-webkit-input-placeholder,
.fuelux textarea::-webkit-input-placeholder {
    color: #999
}
.fuelux .radio,
.fuelux .checkbox {
    min-height: 20px;
    padding-left: 20px
}
.fuelux .radio input[type="radio"],
.fuelux .checkbox input[type="checkbox"] {
    float: left;
    margin-left: -20px
}
.fuelux .controls>.radio:first-child,
.fuelux .controls>.checkbox:first-child {
    padding-top: 5px
}
.fuelux .radio.inline,
.fuelux .checkbox.inline {
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 0;
    vertical-align: middle
}
.fuelux .radio.inline+.radio.inline,
.fuelux .checkbox.inline+.checkbox.inline {
    margin-left: 10px
}
.fuelux .input-mini {
    width: 60px
}
.fuelux .input-small {
    width: 90px
}
.fuelux .input-medium {
    width: 150px
}
.fuelux .input-large {
    width: 210px
}
.fuelux .input-xlarge {
    width: 270px
}
.fuelux .input-xxlarge {
    width: 530px
}
.fuelux input[class*="span"],
.fuelux select[class*="span"],
.fuelux textarea[class*="span"],
.fuelux .uneditable-input[class*="span"],
.fuelux .row-fluid input[class*="span"],
.fuelux .row-fluid select[class*="span"],
.fuelux .row-fluid textarea[class*="span"],
.fuelux .row-fluid .uneditable-input[class*="span"] {
    float: none;
    margin-left: 0
}
.fuelux .input-append input[class*="span"],
.fuelux .input-append .uneditable-input[class*="span"],
.fuelux .input-prepend input[class*="span"],
.fuelux .input-prepend .uneditable-input[class*="span"],
.fuelux .row-fluid input[class*="span"],
.fuelux .row-fluid select[class*="span"],
.fuelux .row-fluid textarea[class*="span"],
.fuelux .row-fluid .uneditable-input[class*="span"],
.fuelux .row-fluid .input-prepend [class*="span"],
.fuelux .row-fluid .input-append [class*="span"] {
    display: inline-block
}
.fuelux input,
.fuelux textarea,
.fuelux .uneditable-input {
    margin-left: 0
}
.fuelux .controls-row [class*="span"]+[class*="span"] {
    margin-left: 20px
}
.fuelux input.span12,
textarea.span12,
.uneditable-input.span12 {
    width: 926px
}
.fuelux input.span11,
textarea.span11,
.uneditable-input.span11 {
    width: 846px
}
.fuelux input.span10,
textarea.span10,
.uneditable-input.span10 {
    width: 766px
}
.fuelux input.span9,
textarea.span9,
.uneditable-input.span9 {
    width: 686px
}
.fuelux input.span8,
textarea.span8,
.uneditable-input.span8 {
    width: 606px
}
.fuelux input.span7,
textarea.span7,
.uneditable-input.span7 {
    width: 526px
}
.fuelux input.span6,
textarea.span6,
.uneditable-input.span6 {
    width: 446px
}
.fuelux input.span5,
textarea.span5,
.uneditable-input.span5 {
    width: 366px
}
.fuelux input.span4,
textarea.span4,
.uneditable-input.span4 {
    width: 286px
}
.fuelux input.span3,
textarea.span3,
.uneditable-input.span3 {
    width: 206px
}
.fuelux input.span2,
textarea.span2,
.uneditable-input.span2 {
    width: 126px
}
.fuelux input.span1,
textarea.span1,
.uneditable-input.span1 {
    width: 46px
}
.fuelux .btn {
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image: -o-linear-gradient(top, #fff, #e6e6e6);
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05)
}
.fuelux .btn:hover,
.fuelux .btn:focus,
.fuelux .btn:active,
.fuelux .btn.active,
.fuelux .btn.disabled,
.fuelux .btn[disabled] {
    color: #333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9
}
.fuelux .btn:active,
.fuelux .btn.active {
    background-color: #ccc \9
}
.fuelux .btn:first-child {
    *margin-left: 0
}
.fuelux .btn:hover,
.fuelux .btn:focus {
    color: #333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear
}
.fuelux .btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}
.fuelux .btn.active,
.fuelux .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)
}
.fuelux .btn.disabled,
.fuelux .btn[disabled] {
    cursor: default;
    background-image: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
.fuelux .btn-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.fuelux .btn-block+.btn-block {
    margin-top: 5px
}
.fuelux button[type="submit"].btn-block,
.fuelux input[type="submit"].btn-block,
.fuelux input[type="reset"].btn-block,
.fuelux input[type="button"].btn-block {
    width: 100%
}
.fuelux .btn-success {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    *background-color: #51a351;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false)
}
.fuelux .btn-success:hover,
.fuelux .btn-success:focus,
.fuelux .btn-success:active,
.fuelux .btn-success.active,
.fuelux .btn-success.disabled,
.fuelux .btn-success[disabled] {
    color: #fff;
    background-color: #51a351;
    *background-color: #499249
}
.fuelux .btn-success:active,
.fuelux .btn-success.active {
    background-color: #408140 \9
}
.fuelux .label,
.fuelux .badge {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999
}
.fuelux .label {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}
.fuelux .badge {
    padding-right: 9px;
    padding-left: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px
}
.fuelux .label:empty,
.fuelux .badge:empty {
    display: none
}
.fuelux a.label:hover,
.fuelux a.label:focus,
.fuelux a.badge:hover,
.fuelux a.badge:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer
}
.fuelux .label-important,
.fuelux .badge-important {
    background-color: #b94a48
}
.fuelux .label-important[href],
.fuelux .badge-important[href] {
    background-color: #953b39
}
.fuelux .label-warning,
.fuelux .badge-warning {
    background-color: #f89406
}
.fuelux .label-warning[href],
.fuelux .badge-warning[href] {
    background-color: #c67605
}
.fuelux .label-success,
.fuelux .badge-success {
    background-color: #468847
}
.fuelux .label-success[href],
.fuelux .badge-success[href] {
    background-color: #356635
}
.fuelux .label-info,
.fuelux .badge-info {
    background-color: #3a87ad
}
.fuelux .label-info[href],
.fuelux .badge-info[href] {
    background-color: #2d6987
}
.fuelux .label-inverse,
.fuelux .badge-inverse {
    background-color: #333
}
.fuelux .label-inverse[href],
.fuelux .badge-inverse[href] {
    background-color: #1a1a1a
}
.fuelux .btn .label,
.fuelux .btn .badge {
    position: relative;
    top: -1px
}
.fuelux .btn-mini .label,
.fuelux .btn-mini .badge {
    top: 0
}
.fuelux .wizard {
    position: relative;
    overflow: hidden;
    background-color: #f9f9f9;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065)
}
.fuelux .wizard:before,
.fuelux .wizard:after {
    display: table;
    line-height: 0;
    content: ""
}
.fuelux .wizard:after {
    clear: both
}
.fuelux .wizard ul {
    width: 4000px;
    padding: 0;
    margin: 0;
    list-style: none outside none
}
.fuelux .wizard ul.previous-disabled li.complete {
    cursor: default
}
.fuelux .wizard ul.previous-disabled li.complete:hover {
    color: #468847;
    cursor: default;
    background: #f3f4f5
}
.fuelux .wizard ul.previous-disabled li.complete:hover .chevron:before {
    border-left-color: #f3f4f5
}
.fuelux .wizard ul li {
    position: relative;
    float: left;
    height: 46px;
    padding: 0 20px 0 30px;
    margin: 0;
    font-size: 16px;
    line-height: 46px;
    color: #999;
    cursor: default;
    background: #ededed
}
.fuelux .wizard ul li .chevron {
    position: absolute;
    top: 0;
    right: -14px;
    z-index: 1;
    display: block;
    border: 24px solid transparent;
    border-right: 0;
    border-left: 14px solid #d4d4d4
}
.fuelux .wizard ul li .chevron:before {
    position: absolute;
    top: -24px;
    right: 1px;
    display: block;
    border: 24px solid transparent;
    border-right: 0;
    border-left: 14px solid #ededed;
    content: ""
}
.fuelux .wizard ul li.complete {
    color: #468847;
    background: #f3f4f5
}
.fuelux .wizard ul li.complete:hover {
    cursor: pointer;
    background: #e7eff8
}
.fuelux .wizard ul li.complete:hover .chevron:before {
    border-left: 14px solid #e7eff8
}
.fuelux .wizard ul li.complete .chevron:before {
    border-left: 14px solid #f3f4f5
}
.fuelux .wizard ul li.active {
    color: #3a87ad;
    background: #f1f6fc
}
.fuelux .wizard ul li.active .chevron:before {
    border-left: 14px solid #f1f6fc
}
.fuelux .wizard ul li .badge {
    margin-right: 8px
}
.fuelux .wizard ul li:first-child {
    padding-left: 20px;
    border-radius: 4px 0 0 4px
}
.fuelux .wizard .actions {
    position: absolute;
    right: 0;
    z-index: 1000;
    float: right;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 46px;
    vertical-align: middle;
    background-color: #e5e5e5;
    border-left: 1px solid #d4d4d4
}
.fuelux .wizard .actions a {
    margin-right: 8px;
    font-size: 12px;
    line-height: 45px
}
.fuelux .wizard .actions .btn-prev i {
    margin-right: 5px
}
.fuelux .wizard .actions .btn-next i {
    margin-left: 5px
}
.fuelux .step-content {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #d4d4d4;
    border-top: 0;
    border-radius: 0 0 4px 4px
}
.fuelux .step-content .step-pane {
    display: none
}
.fuelux .step-content .active {
    display: block
}
.fuelux .step-content .active .btn-group .active {
    display: inline-block
}

/* woocurve */

body .row {
	margin-left: 0;
	margin-right: 0;
}

body > .row.clearfix {
	margin-top: 30px;
}

.navbar-header {
	text-align: left;
	float: left;
}

.inner-block header p {
	max-width: 750px;
	margin: auto;
	margin-top: 2px;
}

header p.right {
	float: right;
	color: white;
	margin: 18px 0;
	font-size: 15px;
}

.bullet-points {
	margin-bottom: 20px;
}

.bullet-points ul li {
	margin-bottom: 10px;
}

.bullet-points ul li i.fa-check {
	color: #4db91a;
	margin-top: 3px;
}

.bullet-points h2 {
	margin-top: 0;
}

.bullet-points h2,
.testimonials h2 {
	font-size: 16px;
	line-height: 20px;
}

.testimonials {
	margin-bottom: 15px;
	border-bottom: double;
	border-color: #CCC;
	padding-bottom: 0px;
}

.testimonial-item {
	font-size: 14px;
	margin-bottom: 15px;
	font-style: italic;
}

.testimonial-image img {
	width: 32%;
	height: auto;
	float: left;
	padding: 0 10px 4px 0;
}

.trustpoint {
	margin: 0 0 15px;
}

.trustpoint-image {
	text-align: center;
}

.trustpoint-image img {
	width: 100%;
	height: auto;
	max-width: 85px;
	max-height: 85px;
}

.trustpoint h4 {
	font-size: 15px;
	margin: 5px 0;
}

.inner-block {
	padding-bottom: 80px;
}

.fuelux .step-content {
	background: #FFF;
	padding-top: 20px;
}

.steps .step1 {
	cursor: pointer !important;
}

.btn-step1 {
	margin-bottom: 15px !important;
}

@media screen and (max-width:1024px) {

	.inner-block header p {
		padding: 0 10px;
	}

}

@media screen and (max-width:767px) {

	.navbar-header {
		text-align: center;
		float: none;
	}

	.marketplace-image {
		display: inline !important;
	}

	.fuelux .wizard ul li {
		float: none;
		padding-left: 20px;
	}

}

@media (max-width: 992px) {
    .col-md-4 {
        margin-top: 10px;
    }
}

/* media */

@media screen and (max-width:767px) {
    .hide-on-mobile {
        display: none !important;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .hide-on-tablet {
        display: none !important;
    }
}

@media screen and (min-width:1025px) {
    .hide-on-desktop {
        display: none !important;
    }
}